:root {
  /* BRAND */
  --color-primary: #1a3263;
  --color-secondary: #547792;
  --color-accent: hsl(35, 94%, 67%);
  --color-accent-hover: hsl(35, 94%, 70%);
  --color-accent-active: hsl(35, 94%, 80%);

  /* STATUS */
  --color-success: "";
  --color-warning: "";
  --color-danger: "";
  --color-info: "";

  /* NEUTRALS */
  --color-text: #333333;
  --color-bg: #f4f4f4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
}

input[type="submit"] {
  background-color: var(--color-accent);
}

.main-wrapper nav.sidebar a.side:hover {
  background-color: hsl(35, 94%, 70%);
}

.main-wrapper nav.sidebar a.side:active {
  background-color: hsl(35, 94%, 80%);
}

.main-wrapper nav.sidebar a.side.active {
  background-color: var(--color-accent);
}
