<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Login</h1>
    <form id="loginForm">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
      </div>
      <button type="submit">Login</button>
    </form>
    <script src="../assets/js/auth/handleLogin.js"></script>
  </body>
</html>
