<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./auth-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Rental | Login</title>
  </head>

  <body>
    <div>
      <h1>Login your account</h1>
      <form id="login-form">
        <div id="err-container"></div>
        <div>
          <label for="email">Email</label>
          <input id="email" type="email" name="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" />
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
      <p>
        Don't have an account? <a href="./register.view.html">Register here</a>
      </p>
    </div>
    <script src="../../scripts/auth/loginScript.js"></script>
  </body>
</html>
