<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./auth-style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Rental | Register</title>
</head>

<body>
  <div>
    <h1>Register your Account</h1>
    <form id="registration-form">
      <!-- STATUS -->
      <div id="error-container"></div>
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
    <p>Already have an account? <a href="./login.view.php">Login here</a></p>
  </div>

  <script src="../../scripts/auth/registerScript.js"></script>
</body>

</html>